{# ``base.html`` is the template all our other templates derive from. While
   Flask-Bootstrap ships with its own base, it is good form to create a custom
   one for our app, as it allows customizing some aspects.

   Deriving from bootstap/base.html gives us a basic page scaffoling.

   You can find additional information about template inheritance at

   http://jinja.pocoo.org/docs/templates/#template-inheritance
#}
{%- extends "bootstrap/base.html" %}

{# We also set a default title, usually because we might forget to set one.
   In our sample app, we will most likely just opt not to change it #}
{% block title %}Sample App for Flask-Bootstrap{% endblock %}
