{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron">
      <h1>Welcome to Flask-Bootstrap</h1>
      <p>This example application demonstrates some (but not all!) of the
      features of <a href="http://pythonhosted.org/Flask-Bootstrap">
      Flask-Bootstrap</a>.</p>
      <p>
        <a class="btn btn-lg btn-default" role="button"
           href="http://pythonhosted.org/Flask-Bootstrap" >Show docs</a>
      </p>
    </div>
   </div>
{%- endblock %}
