{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
  <h1>Hello, world!</h1>

  <h2>This is the sample form (basic)</h2>
  {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}

  <h2>The same form, inline</h2>
  {{ wtf.quick_form(form, form_type='inline', button_map={'submit_button': 'primary'}) }}

  <h2>And as a horizontal form</h2>
  {{ wtf.quick_form(form, form_type='horizontal', button_map={'submit_button': 'primary'})}}
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
